.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    user-select: none;
}
.smiley-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.button {
    margin-top: 40px;
    display: inline-block;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background: black;
    color: palevioletred;
    font-size: 18px;
    font-weight: 700;
}